$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.col-main {
  @extend .col-xs-12;
  @extend .col-sm-8;
  @extend .col-sm-offset-2;
  @extend .col-md-6;
  @extend .col-md-offset-3;
}

.number-circle {
  display: inline-block;
  border-radius: 50%;

  width: 36px;
  height: 36px;
  padding: 8px;

  background: #fff;
  border: 2px solid #666;
  margin: 0 5px;
  color: #666;
  text-align: center;
}

li.person {
  display: flex;
  align-items: center;
}

.person-name {
  font-size: 18px;
  flex-grow: 1;
}

.top-bar {
  background-color: #ffffff;
}
